@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i|Playfair+Display:400,400i,700,700i,900|Raleway:200,300,400,400i,500,500i,600,700,700i,800');

@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold.eot');
  src: url('../fonts/BebasNeueBold.ttf') format('truetype'),
       url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg'),
       url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}