// _mixins.scss

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($values){
	-webkit-box-shadow: $values;
	-moz-box-shadow: $values;
	-ms-box-shadow: $values;
	box-shadow: $values;
}