@import "fonts";
@import "variables";
@import "mixins";
// font-family: 'Raleway', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Merriweather Sans', sans-serif;

/**
 * General
*/
* {
    box-sizing: border-box;
}

html, body{
    height: auto;
}
body {
    -webkit-tap-highlight-color: transparent;
    background-color: #f9f8f6;
    font-size: 16px !important;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
a,
a:hover,
a:focus {}
button{
    outline: none;
} 
section{
    margin-top: 30px;
    margin-bottom: 80px;
    width: 100%;
    float: left;
    @media (max-width: 768px){
        margin-bottom: 20px;
    }
    &::before{
        content: "";
        display: table;
        box-sizing: border-box;
        clear: both;
        float: left;
    }
    &::after{
        content: "";
        display: table;
        box-sizing: border-box;
        clear: both;
        float: left;
    }
    .title{
        margin-bottom: 70px;
        h2{
            text-align: center;
            font-family: Times;
            font-size: 39px;
            text-transform: uppercase;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 20px;
            color: #433330;
            @media (max-width: 420px){
                font-size: 26px;
            }
        }
        .legend{
            display: block;
            text-align: center;
            font-size: 17px;
            font-family: "Times New Roman";
            font-style: italic;
            font-weight: 600;
            span{
                position: relative;
                @media (min-width: 500px){
                    &::before{
                        content: "";
                        display: block;
                        position: absolute;
                        left: -8em;
                        top: 50%;
                        height: 1px;
                        width: 110px;
                        background-color: #9b9693;
                    }
                    &::after{
                        content: "";
                        display: block;
                        position: absolute;
                        right: -8em;
                        top: 50%;
                        height: 1px;
                        width: 110px;
                        background-color: #9b9693;
                    }
                }
            }
        }
    }
}
/**
 * STYLES
 */
.container-small{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1010px) {
        width: 1010px;
    }
}
.clearfix{
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

/**
 * HEADER
 */
header {
    z-index: 1000;
    width: 100%;
    position: fixed;
    background-color: $brown-dark;
    top: 0;
    bottom: inherit;
    nav.navbar{
        @include border-radius(0);
        border: 0 !important;
        margin-bottom: 0;
        .nav{
            text-transform: uppercase;
            margin-top: 11px;
            font-family: "BebasNeueBold", Arial;
            li{
                a{
                    padding: 10px;
                    @media (min-width: 992px){
                        padding: 10px 15px;
                    }
                }
                a,
                a:hover,
                a:active,
                a:visited{
                    color: white;
                    background-color: transparent;
                    border: 0;
                    letter-spacing: 0.1em;
                }
                &:hover{
                }
            }
        }
        .navbar-header{
            .navbar-toggle{
                position: relative;
                float: right;
                padding: 0 12px;
                margin-top: 8px;
                margin-right: 15px;
                margin-bottom: 8px;
                background-color: transparent;
                background-image: none;
                border: 1px solid rgba(251, 251, 251, 0.33);
                @include border-radius(4px);
                color: white;
                font-size: 30px;
            }
            .contato-header{
                display: none;
            }
        }
        .navbar-brand{
            text-indent: -9999px;
            width: auto;
            padding: 0;
            margin-top: 7px;
            margin-bottom: 7px;
            img{
                max-width: 146px;
            }
        }
        .navbar-nav{
            float: none;
            text-align: center;
            @media (min-width: 768px){
                float: right;
                text-align: right;
            }
        }
        .icon-menu{

        }
    }
}

/**
 * BANNER
 */
section.banner{
    
    min-height: 280px;
    
    background: url('../images/banner-home.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 0;
    float: left;
    width: 100%;
    position: relative;
    @media (max-width: 360px){
        background-position-x: left; 
    }
    @media (min-width: 470px){
        min-height: 320px;
    }
    @media (min-width: 550px){
        min-height: 420px;
    }
    @media (min-width: 768px){
        min-height: 630px;
    }
    h2{
        max-width: 420px;
        width: 60%;
        font-size: 30px;
        color: white;
        font-family: "Times New Roman", Times;
        padding-left: 55px;
        text-transform: uppercase;
        margin-top: 153px;
        
        @media (max-width: 274px){
            font-size: 22px;
        }
        @media (max-width: 360px){
            width: 100%;
        }
        @media (min-width: 700px){
            font-size: 50px;
            max-width: 440px;
        }
        @media (min-width: 1124px){
            margin-left: 0;
        }
    }
}

/**
 * description
 */
section.description{
    font-size: 16px;
    color: #433330;
    text-align: center;
    height: auto;
    h1{
        font-family: "Times New Roman";
        font-size: 40px;
        text-transform: uppercase;
        display: table;
        margin: 0 auto 25px auto;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        span.principal{
            font-weight: 600;
            letter-spacing: 3px;
        }
        span.full{
            font-size: .65em;
            margin-left: 20px;
            letter-spacing: 10px;
            @media (max-width: 425px){
                margin-left: 0;
            }
        }
        @media (max-width: 280px){
            font-size: 30px;
        }
    }
    .legend{
        font-family: "Times New Roman";
        letter-spacing: 7px;
        span{
            display: block;
            @media (min-width: 600px){
                display: inline-block;
            }
        }
    }
    p{
        font-family: 'Merriweather Sans', sans-serif;
        &.text1{
            max-width: 780px;
            margin:50px auto 0 auto;
            font-weight: 300;
        }
        &.text2{
            max-width: 314px;
            margin: 0 auto;
            font-weight: 600;
            font-style: italic;
        }
    }
    blockquote{
        font-family: "Times New Roman";
        color: #a59688;
        margin: 35px auto 40px auto;
        text-transform: uppercase;
        position: relative;
        max-width: 470px;
        border: 0;
        padding: 7px 10px 10px 10px;
        &::before, &::after{
            content: "";
            display: block;
            border-top: 1px solid #a59688;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }
        &::after{
            content: "";
            bottom: 0;
            top: 100%;
        }
        span{
            display: block;
        }
        .footage{
            font-size: 30px;
            letter-spacing: 5px;
            span{
                display: block;
                @media (min-width: 600px){
                    display: inline-block;
                }
            }
        }
        .text{
            letter-spacing: 2px;
        }
    }
    @media (max-width: 600px){
        .ocult{
            display: none !important;
        }
    }
}
/**
 * Gallery
 */
section.gallery{
    .box{
        margin-bottom: 30px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        @include border-radius(10px);
        @media (min-width: 992px){
            &.maxh192{
                max-height: 192px;
            }
            &.maxh393{
                max-height: 393px;
            }
            &.maxh414{
                max-height: 414px;
            }
        }
        img{
            width: 100%;
            height: 100%;
            transition: all .5s ease-in-out;
        }
        .icon-zoom{
            display: none;
            background-color: rgba(0, 0, 0, 1);
            transition: background-color .5s ease-in-out;
        }
        &:hover{
            img{
                transform: scale(1.05);
            }
            @media (min-width: 992px){
                .icon-zoom{
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.3);
                    i{
                        color: white;
                        font-size: 30px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: calc(-36px / 2);
                        margin-left: calc(-30px 0 2);
                    }
                }
            }
        }
        @media (max-width: 767px){
            &.maxw400{
                max-width: 400px;
                margin: 0 auto 30px;
            }
        }
    }
    .more-gallery-link{
        position: relative;
        margin-top: -15px;
        width: 100%;
        float: left;
        cursor: pointer;
        .less{

        }
        img{
            width: 100%;
        }
    }
    .more-gallery{
        display: none;
    }
    .more-plans{
        display:none;
    }
}
    
/**
 * Tour
 */
section.video{
    margin-bottom: 30px;
}

section.faca-tour{
    margin-top: 0;
    margin-bottom: 30px;
    button{
        background-color: #f6881f;
        width:100%;
        height:60px;
        @include border-radius(3px);
        border: 0;
        padding: 5px 20px;
        color: white;
    }
}
section.modal_Tour{
    .modal-lg{
        width: 100%;
        height: 900px;
    }
    .modal .modal-body {
    min-width: 1200px;
    min-height: 800px;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    }
}


 /**
 * Plan
 */
section.plan{

    .box-content{
        margin-bottom: 60px;
        width: 100%;
        .box-img{
            text-align: center;
            padding: 15px;
            background-color: white;
            margin-bottom: 20px;
            @include box-shadow(0px 0px 15px 12px #ecebe9);
            @include border-radius(17px);
            width: 100%;
            height: 215px;
            display: table;
            a{
                display: table-cell;
                vertical-align: middle;
                img{
                    max-width: 100%;
                    max-height: 185px;
                    filter: gray;
                    /* IE6-9 */
                    filter: grayscale(1);
                    /* Microsoft Edge and Firefox 35+ */
                    -webkit-filter: grayscale(1);
                    /* Google Chrome, Safari 6+ & Opera 15+ */
                    &:hover{
                        filter: none;
                        /* IE6-9 */
                        /* Microsoft Edge and Firefox 35+ */
                        -webkit-filter: none;
                    }
                }
            }
        }
        .text{
            display: block;
            text-align: center;
            font-family: "Times New Roman";
            font-size: 20px;
        }
    }
    .more-plans-link{
        position: relative;
        margin-top: -15px;
        width: 100%;
        float: left;
        cursor: pointer;
        .less{

        }
        img{
            width: 100%;
        }
    }
}

/**
 * Services
 */
section.services{
    margin-bottom: 0px;
    .container > .row .box-services{
        margin-bottom: 100px;margin-bottom: 100px;
        @media (max-width: 768px){
            margin-bottom: 50px;
        }
    }
    .box-services{
        text-align: center;
        cursor: pointer;
        transition: margin-top .4s ease-in-out;
        img{
            max-width: 100%;
            @include border-radius(50%);
        }
        .legend{
            font-size: 18px;
            font-family: 'Merriweather Sans', sans-serif;
            padding-top: 15px;
            display: block;
        }
        &:hover{
            margin-top: -20px;
        }
    }
    .no-margin-bottom{
        margin-bottom: 0 !important;
    }
}

/**
 * location
 */
section.location{
    .map{
        min-height: 560px;
        width: 100%;
        background: url('../images/map.jpg') no-repeat center center;
        background-size: cover;
    }
}

/**
 * Differential
 */
section.differential{
    font-family: 'Playfair Display', serif;
    color: #917f6e;

    @media (max-width: 768px){
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .differential-box{
        margin-bottom: 100px;
        display: block;
        &:last-child{
            margin-bottom: 0;
        }
        .box-row{
            display: flex;
            flex-direction: column;
            .box-text{
                order: 2;
            }
            .box-img, .box-text{
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                margin: 0 auto;
                @media (min-width: 768px){
                    width: 50%;
                }
            }
            .box-img.right, .box-text.right{
                float: none;
                max-width: 475px;
                @media (min-width: 768px){
                    max-width: 100%;
                    float: right;
                }
            }
            .box-img.left, .box-text.left{
                float: none;
                max-width: 475px;
                @media (min-width: 768px){
                    max-width: 100%;
                    float: right;
                }
            }

            @media (min-width: 768px){
                flex-direction: row;
                .box-text{
                    float: none;
                    order: 0;
                }
            }
        }
    }
    .img{
        text-align: center;
        img{
            width: 100%;
            max-width: 475px;
        }
    }
    h3{
        font-family: 'Playfair Display', serif;
        font-size: 37px;
        letter-spacing: 4px;
        font-weight: 600;
        @media (max-width: 768px){
            font-size: 20px;
        }
    }
    .legend{
        font-size: 20px;
        padding-bottom: 25px;
        position: relative;
        &:after{
            content: "";
            display: block;
            border:1px solid #917f6e;
            position: absolute;
            bottom: 0;
            
            width: 50%;
        }
    }
    .content{
        padding-top: 25px;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
    }
    .text{
        font-weight: 300;
        text-transform: italic;
        p{
            margin-bottom: 8px;
            line-height: 21px;
        }
    }
    .text-left{
        text-align: right;
        .text{
            margin-right: 15px;
            @media (min-width: 992px){
                margin-right: 75px;
            }
        }
        .legend{
            &:after{
                content: "";
                right: 0;
                @media (min-width: 992px){
                    right: -50px;
                }
            }
        }
    }
    .text-right{
        text-align: left;
        .text{
            margin-left: 15px;
            @media (min-width: 992px){
                margin-left: 75px;
            }
        }
        .legend{
            &:after{
                content: "";
                right: 0;
                left: 0;
                @media (min-width: 992px){
                    left: -50px;
                }
            }
        }
    }
}

.text-footer{
    font-family:'Merriweather Sans', sans-serif!important;
    font-size:14px!important;
}

.text-header{
    font-family:'Merriweather Sans', sans-serif!important; 
    text-align: right;
    color:#f6881f;
    margin-top: -48px;
    margin-right: -155px;
    padding-left: 0 !important;
    padding-right: 0 !important;

    @media(max-width: 1180px){
        margin-top: -27px;
        margin-right: 0px;
        font-size:15px;
    }
    @media (max-width: 1200px){
        margin-top: -23px;
        margin-right: -5px;
        font-size:15px;
    }

    @media (max-width: 980px){
        margin-top: -23px;
        margin-right: -5px;
    }

    @media (max-width:763px){
        margin-top:-12px;
    }

    span{
        @media (min-width:500px ){
            display:inline;
            font-size: 19px;
        }
        
        display:block;
        font-size:10px;
    }
}


/**
 * Works
 */
section.idealizers{
    @media (min-width: 768px){
        .title{
            margin-bottom: 150px;
        }
    }
    .box-perfil{
        background-color: white;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 30px;
        position: relative;
        color:$brown-dark;
        margin-top: 110px;
        @include border-radius(17px);
        @include box-shadow(0px 0px 15px 12px #ecebe9);
        
        @media (min-width: 768px){
            &.box-perfil-3{
                margin-top: 60px;
            }
            &.box-perfil-4{
                margin-top: 170px;
            }
            &.box-perfil-1,
            &.box-perfil-2 {
                margin-top: 0;
            }
        }
        @media (min-width: 992px){
            &.box-perfil-1,
            &.box-perfil-2,
            &.box-perfil-3,
            &.box-perfil-4{
                margin-top: 100px;
            }
        }

        .img-perfil{
            position: relative;
            top: -100px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            display: block;
            img{
                max-width: 100%;
                @include border-radius(50%);
                @include box-shadow(0px 0px 15px 7px #ecebe9);
            }
        }
        p, .name, .role{
            display: block;
            text-align: center;
        }
        p{
            margin-top: -70px;
            margin-bottom: 17px;
            font-weight: 300;
            font-family: 'Raleway', sans-serif;
            font-size: 18px
        }
        .name, .role{
            font-style: italic;
            font-family: 'Playfair Display', serif;
        }
        .name{
            position: relative;
            padding-top: 20px;
            font-weight: 700;
            font-family: '';
            font-size: 20px;
            color: #4f3d3a;
            &:before{
                content: "";
                display: block;
                width: 20%;
                height: 2px;
                background-color: #a59688;
                position: absolute;
                top: 0;
                margin-left: 40%;
                margin-right: 40%;
            }
        }
        .role{
            font-size: 16px;
            font-weight: 400;
            color: #917f6e;
        }
    }
}

/**
 * companies
 */
section.companies{
    .builder{
        float: left;
        display: block;
        font-family: 'Playfair Display', serif;
        font-size: 14px;

        .logo{
            display: block;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        @media (min-width: 768px){
            .mpd, .helbor{
                .text{
                    column-count: 2;
                    -moz-column-count: 2;
                    -webkit-column-count: 2;
                    column-gap: 30px;
                    -moz-column-gap: 30px;
                    -webkit-column-gap: 30px;
                }
            }
        }
    }
}
/**
 * Footer
 */
footer{
    background-color: $brown-ligth;
    border-top: 2px solid $brown-dark;
    width: 100%;
    float: left;
    .company{
        float: left;
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
        .logoFooter{
            float: left;
            img{
                max-width: 70px;
            }
        }
        .text{
            font-family: "Times New Roman";
            font-size: 16px;
            letter-spacing: 5px;
            float: right;
            padding-top: 15px;
            text-align: right;
            span{
                display: block;
            }
            @media (min-width: 992px){
                text-align: left;
                span{
                    display: inline-block;
                }
            }
        }
        @media (max-width: 550px){
            .logo{
                float: left;
                width: 100%;
                text-align: center;
            }
            .text{
                width: 100%;
                text-align: center;
            }
        }
    }
}
/**
 * Modals
 */
#photosModal{
    .arrows{
        display: block;
        float: left;
        width: 100%;
        clear: both;
        .arrow{
            float: left;
            display: block;
            font-size: 30px;
            cursor: pointer;
            padding: 10px;
            color: rgba(0, 0, 0, 0.39);
        }
        .arrowLeft{
            float: left;
        }
        .arrowRight{
            float: right;
        }
    }
    .getImage{
        min-height: 100px;
        img{
            width: 100%;
        }
    }
}

#formModal{
    input{
        margin-bottom: 20px;
        outline: none;
        @include box-shadow(none);
    }
    input.btn.btn-primary{
        background-image: linear-gradient(to bottom,#f6881f 0,#f6881f 100%);
        background-image: -moz-linear-gradient(to bottom,#f6881f 0,#f6881f 100%);
        background-image: -webkit-linear-gradient(to bottom,#f6881f 0,#f6881f 100%);
        background-color: #f6881f;
    }
    input[type="submit"]{
        display: none;
    }
    .msg{
        margin: 15px;
    }
}

.contato {
    display: none;

    display: block;
    list-style: outside none none;
    padding: 0;
    top: 125px;
    position: fixed;
    left: 0;
    z-index: 999;
    li {
        margin-bottom: 1px;
        position: relative;
        a{
            background: #f6881f;
            border: none;
            @include border-radius(0);
            text-shadow: none !important;
            &.btn-default{
                text-shadow: none !important;
                &:hover{
                    background-color: #383838 !important;
                    color: #f6881f;
                }
                &:visited, &:active, &:focus{
                    background-color: #f6881f !important;
                    color: #383838;
                }
            }
        }
        &:hover .text {
            opacity: 0.9;
            pointer-events: none;
            left: 75px;
            text-shadow: 0 !important;
        }
        & .btn {
            width: 65px;
            font-size: 28px;
            @include box-shadow(none);
            padding: 2px 0;
            @media (max-width: 500px){
                width: 45px;
                font-size: 18px;
                @include box-shadow(none);
                padding: 0 0 4px 0;
            }
        }
        & .text {
            background-color: #fff;
            @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
            color: #5a5a5a;
            opacity: 0;
            padding: 10px;
            pointer-events: none;
            position: absolute;
            left: 65px;
            text-align: left;
            top: 0;
            transition: all 0.4s ease 0s;
            font-size: 17px;
        }
        & .text::after {
            content: "";
            border-color: transparent #fff transparent transparent;
            border-style: solid;
            border-width: 4px 4px 4px 0;
            bottom: 0;
            height: 0;
            margin: auto;
            position: absolute;
            left: -4px;
            top: 0;
            width: 0;
        }
    }
}

.box-container-message{

    display: none;
    @media (min-width: 768px){
        display: block;
        position: fixed;
        left: 80%;
        bottom: 76px;
        z-index: 998;
        width: 200px;
            
        .icon-toggle{
            z-index: 2000;
            position: absolute;
            top: -20px;
            right: -20px;
            @include border-radius(50%);
            padding: 11px 15px 10px 14px;
            background-color: white;
            cursor: pointer;
            border: 1px solid #f6881f;
            width: 50px;
            height: 50px;
            font-size: 20px;
            text-align: center;
            line-height: 1px;
            color: #f6881f;
        }
        a{
            display: block;
            z-index: 1999;
            & ,
            &:hover{
                text-decoration: none;
                color: #f6881f;
            }
            .box-message{
                min-height: 80px;
                min-width: 200px;
                padding: 20px;
                @include border-radius(9px);
                background-color: #f6881f;
                .text{
                    font-family: "Merriweather Sans", sans-serif !important;
                    font-size: 21px;
                    display: block;
                    font-weight: 600;
                    line-height: 24px;
                    color: white;
                    margin-bottom: 15px;
                }
                button{
                    background-color: white;
                    @include border-radius(30px);
                    border: 0;
                    padding: 5px 20px;
                }
            }
        }
    }
    ._show{
        .glyphicon-plus{
            display: none;
        }
        .glyphicon-minus{
            display: inline-block;
        }
    }
    ._hide{
        .glyphicon-minus{
            display: none;
        }
        .glyphicon-plus{
            display: inline-block;
        }
    }
}

/**
 * Modal
 */
.modal.fade.in{
    margin-left: 0 !important;
}

/**
 * Bugtix in Modal Bootstrap with fixed element
 */
.modal-open{
    .navbar{
        margin-right: 0;
    }
    section.banner .box-container-message .box-message{
        right: 100px;
    }
}
.modal.fade.in{
    margin-left: 0 !important;
}

/**
 * Modal Diferenciais
 */
#servicesModal{
    .modal-dialog{
        margin-top: 80px;
    }
    .modal-content{
        display: block;
        .modal-header{
            padding: 35px;
            border: 0;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                display: block;
                width: 35px;
                height: 1px;
                left: 20px;
                bottom: 0;
                background-color: #ab978a;
            }
            .close{
                display: block;
                position: absolute;
                top: -15px;
                right: -15px;
                width: 35px;
                height: 35px;
                background-color: #46302d;
                @include border-radius(50%);
                opacity: 1;

                font-size: 27px;
                color: white;
                font-weight: 100;
                &:hover{
                    font-size: 30px;
                }
            }
            h3{
                margin: 0;
                font-family: Times;
                color: #433330;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
        .modal-body{
            padding: 35px;
            .boxItems{
                p{
                    font-size: 22px;
                    font-family: Times;
                }
            }
        }
    }
}

/**
 * Adapt modal
 */
@media (min-width: 992px){
    body.windows.modal-open{
        .navbar{
            margin-right: 17px;
        }
        section.banner .box-container-message .box-message{
            right: 117px;
        }
    }
}

.mac{
    .modal-open{
        .navbar{
            margin-right: 0;
        }
        section.banner .box-container-message .box-message{
            right: 100px;
        }
    }
    .modal.fade.in{
        margin-left: 0 !important;
    }    
}