@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i|Playfair+Display:400,400i,700,700i,900|Raleway:200,300,400,400i,500,500i,600,700,700i,800");
@font-face {
  font-family: 'BebasNeueBold';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.ttf") format("truetype"), url("../fonts/BebasNeueBold.svg#BebasNeueBold") format("svg"), url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
/**
 * General
*/
* {
  box-sizing: border-box; }

html, body {
  height: auto; }

body {
  -webkit-tap-highlight-color: transparent;
  background-color: #f9f8f6;
  font-size: 16px !important;
  min-height: 100%;
  padding: 0;
  margin: 0; }

button {
  outline: none; }

section {
  margin-top: 30px;
  margin-bottom: 80px;
  width: 100%;
  float: left; }
  @media (max-width: 768px) {
    section {
      margin-bottom: 20px; } }
  section::before {
    content: "";
    display: table;
    box-sizing: border-box;
    clear: both;
    float: left; }
  section::after {
    content: "";
    display: table;
    box-sizing: border-box;
    clear: both;
    float: left; }
  section .title {
    margin-bottom: 70px; }
    section .title h2 {
      text-align: center;
      font-family: Times;
      font-size: 39px;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 20px;
      color: #433330; }
      @media (max-width: 420px) {
        section .title h2 {
          font-size: 26px; } }
    section .title .legend {
      display: block;
      text-align: center;
      font-size: 17px;
      font-family: "Times New Roman";
      font-style: italic;
      font-weight: 600; }
      section .title .legend span {
        position: relative; }
        @media (min-width: 500px) {
          section .title .legend span::before {
            content: "";
            display: block;
            position: absolute;
            left: -8em;
            top: 50%;
            height: 1px;
            width: 110px;
            background-color: #9b9693; }
          section .title .legend span::after {
            content: "";
            display: block;
            position: absolute;
            right: -8em;
            top: 50%;
            height: 1px;
            width: 110px;
            background-color: #9b9693; } }

/**
 * STYLES
 */
.container-small {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .container-small {
      width: 750px; } }
  @media (min-width: 768px) {
    .container-small {
      width: 750px; } }
  @media (min-width: 992px) {
    .container-small {
      width: 970px; } }
  @media (min-width: 1010px) {
    .container-small {
      width: 1010px; } }

.clearfix {
  display: block;
  clear: both;
  float: left;
  width: 100%; }

/**
 * HEADER
 */
header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: #4d3c38;
  top: 0;
  bottom: inherit; }
  header nav.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 0 !important;
    margin-bottom: 0; }
    header nav.navbar .nav {
      text-transform: uppercase;
      margin-top: 11px;
      font-family: "BebasNeueBold", Arial; }
      header nav.navbar .nav li a {
        padding: 10px; }
        @media (min-width: 992px) {
          header nav.navbar .nav li a {
            padding: 10px 15px; } }
      header nav.navbar .nav li a,
      header nav.navbar .nav li a:hover,
      header nav.navbar .nav li a:active,
      header nav.navbar .nav li a:visited {
        color: white;
        background-color: transparent;
        border: 0;
        letter-spacing: 0.1em; }
    header nav.navbar .navbar-header .navbar-toggle {
      position: relative;
      float: right;
      padding: 0 12px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: transparent;
      background-image: none;
      border: 1px solid rgba(251, 251, 251, 0.33);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      color: white;
      font-size: 30px; }
    header nav.navbar .navbar-header .contato-header {
      display: none; }
    header nav.navbar .navbar-brand {
      text-indent: -9999px;
      width: auto;
      padding: 0;
      margin-top: 7px;
      margin-bottom: 7px; }
      header nav.navbar .navbar-brand img {
        max-width: 146px; }
    header nav.navbar .navbar-nav {
      float: none;
      text-align: center; }
      @media (min-width: 768px) {
        header nav.navbar .navbar-nav {
          float: right;
          text-align: right; } }

/**
 * BANNER
 */
section.banner {
  min-height: 280px;
  background: url("../images/banner-home.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 0;
  float: left;
  width: 100%;
  position: relative; }
  @media (max-width: 360px) {
    section.banner {
      background-position-x: left; } }
  @media (min-width: 470px) {
    section.banner {
      min-height: 320px; } }
  @media (min-width: 550px) {
    section.banner {
      min-height: 420px; } }
  @media (min-width: 768px) {
    section.banner {
      min-height: 630px; } }
  section.banner h2 {
    max-width: 420px;
    width: 60%;
    font-size: 30px;
    color: white;
    font-family: "Times New Roman", Times;
    padding-left: 55px;
    text-transform: uppercase;
    margin-top: 153px; }
    @media (max-width: 274px) {
      section.banner h2 {
        font-size: 22px; } }
    @media (max-width: 360px) {
      section.banner h2 {
        width: 100%; } }
    @media (min-width: 700px) {
      section.banner h2 {
        font-size: 50px;
        max-width: 440px; } }
    @media (min-width: 1124px) {
      section.banner h2 {
        margin-left: 0; } }

/**
 * description
 */
section.description {
  font-size: 16px;
  color: #433330;
  text-align: center;
  height: auto; }
  section.description h1 {
    font-family: "Times New Roman";
    font-size: 40px;
    text-transform: uppercase;
    display: table;
    margin: 0 auto 25px auto; }
    section.description h1 span {
      display: inline-block;
      vertical-align: middle; }
    section.description h1 span.principal {
      font-weight: 600;
      letter-spacing: 3px; }
    section.description h1 span.full {
      font-size: .65em;
      margin-left: 20px;
      letter-spacing: 10px; }
      @media (max-width: 425px) {
        section.description h1 span.full {
          margin-left: 0; } }
    @media (max-width: 280px) {
      section.description h1 {
        font-size: 30px; } }
  section.description .legend {
    font-family: "Times New Roman";
    letter-spacing: 7px; }
    section.description .legend span {
      display: block; }
      @media (min-width: 600px) {
        section.description .legend span {
          display: inline-block; } }
  section.description p {
    font-family: 'Merriweather Sans', sans-serif; }
    section.description p.text1 {
      max-width: 780px;
      margin: 50px auto 0 auto;
      font-weight: 300; }
    section.description p.text2 {
      max-width: 314px;
      margin: 0 auto;
      font-weight: 600;
      font-style: italic; }
  section.description blockquote {
    font-family: "Times New Roman";
    color: #a59688;
    margin: 35px auto 40px auto;
    text-transform: uppercase;
    position: relative;
    max-width: 470px;
    border: 0;
    padding: 7px 10px 10px 10px; }
    section.description blockquote::before, section.description blockquote::after {
      content: "";
      display: block;
      border-top: 1px solid #a59688;
      position: absolute;
      left: 0;
      right: 0;
      top: 0; }
    section.description blockquote::after {
      content: "";
      bottom: 0;
      top: 100%; }
    section.description blockquote span {
      display: block; }
    section.description blockquote .footage {
      font-size: 30px;
      letter-spacing: 5px; }
      section.description blockquote .footage span {
        display: block; }
        @media (min-width: 600px) {
          section.description blockquote .footage span {
            display: inline-block; } }
    section.description blockquote .text {
      letter-spacing: 2px; }
  @media (max-width: 600px) {
    section.description .ocult {
      display: none !important; } }

/**
 * Gallery
 */
section.gallery .box {
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  @media (min-width: 992px) {
    section.gallery .box.maxh192 {
      max-height: 192px; }
    section.gallery .box.maxh393 {
      max-height: 393px; }
    section.gallery .box.maxh414 {
      max-height: 414px; } }
  section.gallery .box img {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out; }
  section.gallery .box .icon-zoom {
    display: none;
    background-color: black;
    transition: background-color .5s ease-in-out; }
  section.gallery .box:hover img {
    transform: scale(1.05); }
  @media (min-width: 992px) {
    section.gallery .box:hover .icon-zoom {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3); }
      section.gallery .box:hover .icon-zoom i {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: calc(-36px / 2);
        margin-left: calc(-30px 0 2); } }
  @media (max-width: 767px) {
    section.gallery .box.maxw400 {
      max-width: 400px;
      margin: 0 auto 30px; } }
section.gallery .more-gallery-link {
  position: relative;
  margin-top: -15px;
  width: 100%;
  float: left;
  cursor: pointer; }
  section.gallery .more-gallery-link img {
    width: 100%; }
section.gallery .more-gallery {
  display: none; }
section.gallery .more-plans {
  display: none; }

/**
 * Tour
 */
section.video {
  margin-bottom: 30px; }

section.faca-tour {
  margin-top: 0;
  margin-bottom: 30px; }
  section.faca-tour button {
    background-color: #f6881f;
    width: 100%;
    height: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    padding: 5px 20px;
    color: white; }

section.modal_Tour .modal-lg {
  width: 100%;
  height: 900px; }
section.modal_Tour .modal .modal-body {
  min-width: 1200px;
  min-height: 800px;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto; }

/**
* Plan
*/
section.plan .box-content {
  margin-bottom: 60px;
  width: 100%; }
  section.plan .box-content .box-img {
    text-align: center;
    padding: 15px;
    background-color: white;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 15px 12px #ecebe9;
    -moz-box-shadow: 0px 0px 15px 12px #ecebe9;
    -ms-box-shadow: 0px 0px 15px 12px #ecebe9;
    box-shadow: 0px 0px 15px 12px #ecebe9;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    border-radius: 17px;
    width: 100%;
    height: 215px;
    display: table; }
    section.plan .box-content .box-img a {
      display: table-cell;
      vertical-align: middle; }
      section.plan .box-content .box-img a img {
        max-width: 100%;
        max-height: 185px;
        filter: gray;
        /* IE6-9 */
        filter: grayscale(1);
        /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: grayscale(1);
        /* Google Chrome, Safari 6+ & Opera 15+ */ }
        section.plan .box-content .box-img a img:hover {
          filter: none;
          /* IE6-9 */
          /* Microsoft Edge and Firefox 35+ */
          -webkit-filter: none; }
  section.plan .box-content .text {
    display: block;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px; }
section.plan .more-plans-link {
  position: relative;
  margin-top: -15px;
  width: 100%;
  float: left;
  cursor: pointer; }
  section.plan .more-plans-link img {
    width: 100%; }

/**
 * Services
 */
section.services {
  margin-bottom: 0px; }
  section.services .container > .row .box-services {
    margin-bottom: 100px;
    margin-bottom: 100px; }
    @media (max-width: 768px) {
      section.services .container > .row .box-services {
        margin-bottom: 50px; } }
  section.services .box-services {
    text-align: center;
    cursor: pointer;
    transition: margin-top .4s ease-in-out; }
    section.services .box-services img {
      max-width: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    section.services .box-services .legend {
      font-size: 18px;
      font-family: 'Merriweather Sans', sans-serif;
      padding-top: 15px;
      display: block; }
    section.services .box-services:hover {
      margin-top: -20px; }
  section.services .no-margin-bottom {
    margin-bottom: 0 !important; }

/**
 * location
 */
section.location .map {
  min-height: 560px;
  width: 100%;
  background: url("../images/map.jpg") no-repeat center center;
  background-size: cover; }

/**
 * Differential
 */
section.differential {
  font-family: 'Playfair Display', serif;
  color: #917f6e; }
  @media (max-width: 768px) {
    section.differential {
      margin-bottom: 0;
      padding-bottom: 0; } }
  section.differential .differential-box {
    margin-bottom: 100px;
    display: block; }
    section.differential .differential-box:last-child {
      margin-bottom: 0; }
    section.differential .differential-box .box-row {
      display: flex;
      flex-direction: column; }
      section.differential .differential-box .box-row .box-text {
        order: 2; }
      section.differential .differential-box .box-row .box-img, section.differential .differential-box .box-row .box-text {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto; }
        @media (min-width: 768px) {
          section.differential .differential-box .box-row .box-img, section.differential .differential-box .box-row .box-text {
            width: 50%; } }
      section.differential .differential-box .box-row .box-img.right, section.differential .differential-box .box-row .box-text.right {
        float: none;
        max-width: 475px; }
        @media (min-width: 768px) {
          section.differential .differential-box .box-row .box-img.right, section.differential .differential-box .box-row .box-text.right {
            max-width: 100%;
            float: right; } }
      section.differential .differential-box .box-row .box-img.left, section.differential .differential-box .box-row .box-text.left {
        float: none;
        max-width: 475px; }
        @media (min-width: 768px) {
          section.differential .differential-box .box-row .box-img.left, section.differential .differential-box .box-row .box-text.left {
            max-width: 100%;
            float: right; } }
      @media (min-width: 768px) {
        section.differential .differential-box .box-row {
          flex-direction: row; }
          section.differential .differential-box .box-row .box-text {
            float: none;
            order: 0; } }
  section.differential .img {
    text-align: center; }
    section.differential .img img {
      width: 100%;
      max-width: 475px; }
  section.differential h3 {
    font-family: 'Playfair Display', serif;
    font-size: 37px;
    letter-spacing: 4px;
    font-weight: 600; }
    @media (max-width: 768px) {
      section.differential h3 {
        font-size: 20px; } }
  section.differential .legend {
    font-size: 20px;
    padding-bottom: 25px;
    position: relative; }
    section.differential .legend:after {
      content: "";
      display: block;
      border: 1px solid #917f6e;
      position: absolute;
      bottom: 0;
      width: 50%; }
  section.differential .content {
    padding-top: 25px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif; }
  section.differential .text {
    font-weight: 300;
    text-transform: italic; }
    section.differential .text p {
      margin-bottom: 8px;
      line-height: 21px; }
  section.differential .text-left {
    text-align: right; }
    section.differential .text-left .text {
      margin-right: 15px; }
      @media (min-width: 992px) {
        section.differential .text-left .text {
          margin-right: 75px; } }
    section.differential .text-left .legend:after {
      content: "";
      right: 0; }
      @media (min-width: 992px) {
        section.differential .text-left .legend:after {
          right: -50px; } }
  section.differential .text-right {
    text-align: left; }
    section.differential .text-right .text {
      margin-left: 15px; }
      @media (min-width: 992px) {
        section.differential .text-right .text {
          margin-left: 75px; } }
    section.differential .text-right .legend:after {
      content: "";
      right: 0;
      left: 0; }
      @media (min-width: 992px) {
        section.differential .text-right .legend:after {
          left: -50px; } }

.text-footer {
  font-family: "Merriweather Sans", sans-serif !important;
  font-size: 14px !important; }

.text-header {
  font-family: "Merriweather Sans", sans-serif !important;
  text-align: right;
  color: #f6881f;
  margin-top: -48px;
  margin-right: -155px;
  padding-left: 0 !important;
  padding-right: 0 !important; }
  @media (max-width: 1180px) {
    .text-header {
      margin-top: -27px;
      margin-right: 0px;
      font-size: 15px; } }
  @media (max-width: 1200px) {
    .text-header {
      margin-top: -23px;
      margin-right: -5px;
      font-size: 15px; } }
  @media (max-width: 980px) {
    .text-header {
      margin-top: -23px;
      margin-right: -5px; } }
  @media (max-width: 763px) {
    .text-header {
      margin-top: -12px; } }
  .text-header span {
    display: block;
    font-size: 10px; }
    @media (min-width: 500px) {
      .text-header span {
        display: inline;
        font-size: 19px; } }

/**
 * Works
 */
@media (min-width: 768px) {
  section.idealizers .title {
    margin-bottom: 150px; } }
section.idealizers .box-perfil {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  position: relative;
  color: #4d3c38;
  margin-top: 110px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  border-radius: 17px;
  -webkit-box-shadow: 0px 0px 15px 12px #ecebe9;
  -moz-box-shadow: 0px 0px 15px 12px #ecebe9;
  -ms-box-shadow: 0px 0px 15px 12px #ecebe9;
  box-shadow: 0px 0px 15px 12px #ecebe9; }
  @media (min-width: 768px) {
    section.idealizers .box-perfil.box-perfil-3 {
      margin-top: 60px; }
    section.idealizers .box-perfil.box-perfil-4 {
      margin-top: 170px; }
    section.idealizers .box-perfil.box-perfil-1, section.idealizers .box-perfil.box-perfil-2 {
      margin-top: 0; } }
  @media (min-width: 992px) {
    section.idealizers .box-perfil.box-perfil-1, section.idealizers .box-perfil.box-perfil-2, section.idealizers .box-perfil.box-perfil-3, section.idealizers .box-perfil.box-perfil-4 {
      margin-top: 100px; } }
  section.idealizers .box-perfil .img-perfil {
    position: relative;
    top: -100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block; }
    section.idealizers .box-perfil .img-perfil img {
      max-width: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 15px 7px #ecebe9;
      -moz-box-shadow: 0px 0px 15px 7px #ecebe9;
      -ms-box-shadow: 0px 0px 15px 7px #ecebe9;
      box-shadow: 0px 0px 15px 7px #ecebe9; }
  section.idealizers .box-perfil p, section.idealizers .box-perfil .name, section.idealizers .box-perfil .role {
    display: block;
    text-align: center; }
  section.idealizers .box-perfil p {
    margin-top: -70px;
    margin-bottom: 17px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 18px; }
  section.idealizers .box-perfil .name, section.idealizers .box-perfil .role {
    font-style: italic;
    font-family: 'Playfair Display', serif; }
  section.idealizers .box-perfil .name {
    position: relative;
    padding-top: 20px;
    font-weight: 700;
    font-family: '';
    font-size: 20px;
    color: #4f3d3a; }
    section.idealizers .box-perfil .name:before {
      content: "";
      display: block;
      width: 20%;
      height: 2px;
      background-color: #a59688;
      position: absolute;
      top: 0;
      margin-left: 40%;
      margin-right: 40%; }
  section.idealizers .box-perfil .role {
    font-size: 16px;
    font-weight: 400;
    color: #917f6e; }

/**
 * companies
 */
section.companies .builder {
  float: left;
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px; }
  section.companies .builder .logo {
    display: block;
    margin-top: 30px;
    margin-bottom: 25px; }
  @media (min-width: 768px) {
    section.companies .builder .mpd .text, section.companies .builder .helbor .text {
      column-count: 2;
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-gap: 30px;
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px; } }

/**
 * Footer
 */
footer {
  background-color: #a59688;
  border-top: 2px solid #4d3c38;
  width: 100%;
  float: left; }
  footer .company {
    float: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px; }
    footer .company .logoFooter {
      float: left; }
      footer .company .logoFooter img {
        max-width: 70px; }
    footer .company .text {
      font-family: "Times New Roman";
      font-size: 16px;
      letter-spacing: 5px;
      float: right;
      padding-top: 15px;
      text-align: right; }
      footer .company .text span {
        display: block; }
      @media (min-width: 992px) {
        footer .company .text {
          text-align: left; }
          footer .company .text span {
            display: inline-block; } }
    @media (max-width: 550px) {
      footer .company .logo {
        float: left;
        width: 100%;
        text-align: center; }
      footer .company .text {
        width: 100%;
        text-align: center; } }

/**
 * Modals
 */
#photosModal .arrows {
  display: block;
  float: left;
  width: 100%;
  clear: both; }
  #photosModal .arrows .arrow {
    float: left;
    display: block;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    color: rgba(0, 0, 0, 0.39); }
  #photosModal .arrows .arrowLeft {
    float: left; }
  #photosModal .arrows .arrowRight {
    float: right; }
#photosModal .getImage {
  min-height: 100px; }
  #photosModal .getImage img {
    width: 100%; }

#formModal input {
  margin-bottom: 20px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
#formModal input.btn.btn-primary {
  background-image: linear-gradient(to bottom, #f6881f 0, #f6881f 100%);
  background-image: -moz-linear-gradient(to bottom, #f6881f 0, #f6881f 100%);
  background-image: -webkit-linear-gradient(to bottom, #f6881f 0, #f6881f 100%);
  background-color: #f6881f; }
#formModal input[type="submit"] {
  display: none; }
#formModal .msg {
  margin: 15px; }

.contato {
  display: none;
  display: block;
  list-style: outside none none;
  padding: 0;
  top: 125px;
  position: fixed;
  left: 0;
  z-index: 999; }
  .contato li {
    margin-bottom: 1px;
    position: relative; }
    .contato li a {
      background: #f6881f;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0;
      text-shadow: none !important; }
      .contato li a.btn-default {
        text-shadow: none !important; }
        .contato li a.btn-default:hover {
          background-color: #383838 !important;
          color: #f6881f; }
        .contato li a.btn-default:visited, .contato li a.btn-default:active, .contato li a.btn-default:focus {
          background-color: #f6881f !important;
          color: #383838; }
    .contato li:hover .text {
      opacity: 0.9;
      pointer-events: none;
      left: 75px;
      text-shadow: 0 !important; }
    .contato li .btn {
      width: 65px;
      font-size: 28px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none;
      padding: 2px 0; }
      @media (max-width: 500px) {
        .contato li .btn {
          width: 45px;
          font-size: 18px;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          box-shadow: none;
          padding: 0 0 4px 0; } }
    .contato li .text {
      background-color: #fff;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      color: #5a5a5a;
      opacity: 0;
      padding: 10px;
      pointer-events: none;
      position: absolute;
      left: 65px;
      text-align: left;
      top: 0;
      transition: all 0.4s ease 0s;
      font-size: 17px; }
    .contato li .text::after {
      content: "";
      border-color: transparent #fff transparent transparent;
      border-style: solid;
      border-width: 4px 4px 4px 0;
      bottom: 0;
      height: 0;
      margin: auto;
      position: absolute;
      left: -4px;
      top: 0;
      width: 0; }

.box-container-message {
  display: none; }
  @media (min-width: 768px) {
    .box-container-message {
      display: block;
      position: fixed;
      left: 80%;
      bottom: 76px;
      z-index: 998;
      width: 200px; }
      .box-container-message .icon-toggle {
        z-index: 2000;
        position: absolute;
        top: -20px;
        right: -20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        padding: 11px 15px 10px 14px;
        background-color: white;
        cursor: pointer;
        border: 1px solid #f6881f;
        width: 50px;
        height: 50px;
        font-size: 20px;
        text-align: center;
        line-height: 1px;
        color: #f6881f; }
      .box-container-message a {
        display: block;
        z-index: 1999; }
        .box-container-message a, .box-container-message a:hover {
          text-decoration: none;
          color: #f6881f; }
        .box-container-message a .box-message {
          min-height: 80px;
          min-width: 200px;
          padding: 20px;
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          -ms-border-radius: 9px;
          border-radius: 9px;
          background-color: #f6881f; }
          .box-container-message a .box-message .text {
            font-family: "Merriweather Sans", sans-serif !important;
            font-size: 21px;
            display: block;
            font-weight: 600;
            line-height: 24px;
            color: white;
            margin-bottom: 15px; }
          .box-container-message a .box-message button {
            background-color: white;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            border-radius: 30px;
            border: 0;
            padding: 5px 20px; } }
  .box-container-message ._show .glyphicon-plus {
    display: none; }
  .box-container-message ._show .glyphicon-minus {
    display: inline-block; }
  .box-container-message ._hide .glyphicon-minus {
    display: none; }
  .box-container-message ._hide .glyphicon-plus {
    display: inline-block; }

/**
 * Modal
 */
.modal.fade.in {
  margin-left: 0 !important; }

/**
 * Bugtix in Modal Bootstrap with fixed element
 */
.modal-open .navbar {
  margin-right: 0; }
.modal-open section.banner .box-container-message .box-message {
  right: 100px; }

.modal.fade.in {
  margin-left: 0 !important; }

/**
 * Modal Diferenciais
 */
#servicesModal .modal-dialog {
  margin-top: 80px; }
#servicesModal .modal-content {
  display: block; }
  #servicesModal .modal-content .modal-header {
    padding: 35px;
    border: 0;
    position: relative; }
    #servicesModal .modal-content .modal-header::after {
      content: "";
      position: absolute;
      display: block;
      width: 35px;
      height: 1px;
      left: 20px;
      bottom: 0;
      background-color: #ab978a; }
    #servicesModal .modal-content .modal-header .close {
      display: block;
      position: absolute;
      top: -15px;
      right: -15px;
      width: 35px;
      height: 35px;
      background-color: #46302d;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      opacity: 1;
      font-size: 27px;
      color: white;
      font-weight: 100; }
      #servicesModal .modal-content .modal-header .close:hover {
        font-size: 30px; }
    #servicesModal .modal-content .modal-header h3 {
      margin: 0;
      font-family: Times;
      color: #433330;
      text-transform: uppercase;
      font-weight: 600; }
  #servicesModal .modal-content .modal-body {
    padding: 35px; }
    #servicesModal .modal-content .modal-body .boxItems p {
      font-size: 22px;
      font-family: Times; }

/**
 * Adapt modal
 */
@media (min-width: 992px) {
  body.windows.modal-open .navbar {
    margin-right: 17px; }
  body.windows.modal-open section.banner .box-container-message .box-message {
    right: 117px; } }
.mac .modal-open .navbar {
  margin-right: 0; }
.mac .modal-open section.banner .box-container-message .box-message {
  right: 100px; }
.mac .modal.fade.in {
  margin-left: 0 !important; }

/*# sourceMappingURL=main.css.map */
